*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase credentials - DO NOT COMMIT
linknpark-a9074-firebase-adminsdk-fbsvc-63c039119f.json
*-firebase-adminsdk-*.json
backendPython\Multi-Camera-Live-Object-Tracking\traffic_counting\model_data\yolo4.h5